<h1 [ngStyle]="{'background-color': style1 ? 'red' : (style2 ? 'blue' : null) }">Hello Sreenu</h1>
<h6 [ngStyle]="{'color':style1?'red':(style2?'gold':null)}">Hello Javwww</h6>


<p [ngClass]="{'ss':ss=='sreenu'}">
    Helllo Grusdwbjgvhgvhvxdhsvwed
</p>
















<p [ngStyle]="{'background-color':style1? '#000':(style2?'#fff':null)}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et nam nulla minus sed quaerat aspernatur similique dolores perspiciatis, laboriosam enim molestiae itaque eum blanditiis, at doloribus ducimus id dolorem totam.</p>
<div [ngClass]="'hello'">Hello Worllddfevrf</div>