<H1>Dashboard</H1>

<div
style="padding: 30px;margin: 20px;background-color: chocolate;">
<h1>HelloSreenuuuuuu</h1>
<button (click)="parentMethod()">Parent Msgs</button>
</div>
<app-home #childMethod></app-home>
<h1 [ngStyle]="{'color':style?'red':(style1?'blue':null)}">Hello Jana jdvhwcvehqjsvbjwevqdjvwdqjqv
    dgwvdecvdhsdvhvcxghqdvchvdwhVCXGHVXXHFSVSHwdg
</h1>
<h1 [ngClass]="{'box':jjj =='sreenu'}">Hey Kerisjkhbjsdbjasvbcjavjdvajd</h1>
<p [ngClass]="{'box':ss=='sreenu'}">
    Helllo Grusdwbjgvhgvhvxdhsvwed
</p>